<nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
     aria-label="Table navigation">
     <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
          Showing
          <span class="text-gray-500">{{ startItem }}-{{ endItem }}</span>
          of
          <span class="text-gray-500">{{ totalItems }}</span>
     </span>

     <ul class="inline-flex items-stretch -space-x-px">
          <li>
               <button (click)="goToPreviousPage()" [disabled]="currentPage === 1" [ngClass]="{
                         'text-gray-400 bg-gray-100 cursor-not-allowed': currentPage === 1,
                         'text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700': currentPage !== 1
                    }"
                    class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">

                    <span class="sr-only">Previous</span>
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd"
                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd" />
                    </svg>
               </button>
          </li>

          <li *ngFor="let val of arr; let i = index">
               <span (click)="onPageClick(val)" [ngClass]="{
                         'flex items-center justify-center text-sm py-2 px-3 leading-tight border cursor-pointer': true,
                         'text-gray-500 bg-white border-gray-300 hover:bg-gray-100 hover:text-gray-700': val !== currentPage.toString(),
                         'bg-blue-600 text-white border-blue-600': val === currentPage.toString()
                    }">
                    {{ val }}
               </span>
          </li>


          <li>
               <button [disabled]="currentPage === totalPage || totalPage === 0" (click)="goToNextPage()" [ngClass]="{
                    'text-gray-400 bg-gray-100 cursor-not-allowed': currentPage === totalPage || totalPage === 0,
                    'text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700': currentPage !== 1
               }"
                    class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-400 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                    <span class="sr-only">Next</span>
                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd"
                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd" />
                    </svg>
               </button>
          </li>
     </ul>
</nav>