<section class="dark:bg-gray-900 p-5 sm:p-5">
     <div class="mx-auto w-5/6 px-4 lg:px-12">
          <div class="flex justify-between">
               <app-button-back (back)="onBack()"></app-button-back>
               <app-button-add-new (addNew)="addNew()"></app-button-add-new>
          </div>

          <app-datatable 
               *ngIf="profileLinkModel" 
               [columns]="columns" 
               [data]="profileLinkModel.data"
               [isLoading]="isLoading" 
               [totalLength]="profileLinkModel.count" 
               [pageSize]="profileLinkService.pageSize"
               (onPage)="onRead($event)" 
               (onSelectPerPage)="onChangePerPage($event)"
               (onSearchValue)="onSearch($event)"
          >
               <ng-template #rowTemplate let-item let-i="index">
                    <td class="text-center text-gray-900">{{i+1}}</td>
                    <td class="px-4 py-3 text-gray-900">{{ item.profileLink }}</td>
                    <td class="py-3 flex space-x-2">
                         <app-edit-icon [id]="item.id" (edit)="onEdit($event)"></app-edit-icon>
                         <app-delete-icon [id]="item.id" (delete)="onDelete($event)"></app-delete-icon>
                    </td>
               </ng-template>
               
          </app-datatable>
     </div>
</section>