<div class="btn-track">
	<button 
		class="track-btn" 
		(click)="fetchUser()" 
		[disabled]="loading" 
		[ngStyle]="{
			'background-color': loading ? '#0056b3' : '#007bff',
			'cursor': loading ? 'not-allowed' : 'pointer'
			}"
	>
		{{ loading ? 'Tracking...' : '🔍 Track User' }}
	</button>
</div>
<div class="pd">
	<div class="home" *ngIf="showHome">
		<!-- Loading Spinner -->
		<div *ngIf="loading" class="loading-container">
			<div class="spinner"></div>
			<p>Loading ...</p>
		</div>

		<!-- User Data Display -->
		<div *ngIf="user && !loading" class="user-data">
			<p class="post-count">📦 Total : {{ user.totalUrlPost }}</p>
			<ul class="post-list">
				<li *ngFor="let post of user.urlPost; index as i">
					{{ i + 1 }}. 
					<span>{{ post.account_name }}</span>

					<!-- <a class="post" [ngStyle]="{
						'color': post.posts === 'No new post found today.' ? 'red' : 'green'
					}"
					[href]="post.posts"
					target="_blank"
					>(  {{ post.posts }} )</a> -->

					<span *ngIf="post.status !== '00'" class="post" [ngStyle]="{
						'color': post.posts === 'No new post found today.' ? 'red' : 'green'
					}"
					>(  {{ post.posts }} )</span>

					<a class="post" *ngIf="post.status === '02'" [href]="post.url" target="_blank">{{ post.url }}</a>
					<a class="post" *ngIf="post.status === '00'" [href]="post.posts" target="_blank">{{ post.posts }}</a>

				</li>
			</ul>
		</div>
	</div>
</div>