<div class="btn-track">
	<button 
		type="button"
		class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
		(click)="fetchUser()" 
		[disabled]="loading" 
		[ngStyle]="{
			'background-color': loading ? '#0056b3' : '#007bff',
			'cursor': loading ? 'not-allowed' : 'pointer'
			}"
	>
		{{ loading ? 'Tracking...' : '🔍 Track User' }}
	</button>
</div>
<div class="pd">
	<div class="home" *ngIf="showHome">
		<!-- Loading Spinner -->
		<div *ngIf="loading" class="loading-container">
			<div class="spinner"></div>
			<p>Loading ...</p>
		</div>

		<!-- User Data Display -->
		<div *ngIf="user && !loading" class="user-data">
			<p class="post-count">📦 Total : {{ user.totalUrlPost }}</p>
			<ul class="post-list">
				<li *ngFor="let post of user.urlPost; index as i">
					{{ i + 1 }}. 
					<span>{{ post.account_name }}</span>

					<span *ngIf="post.status !== '00'" class="post" [ngStyle]="{
						'color': post.posts === 'No new post found today.' ? 'red' : 'green'
					}"
					>(  {{ post.posts }} )</span>

					<a class="post" *ngIf="post.status === '02'" [href]="post.url" target="_blank">{{ post.url }}</a>
					<a class="post" *ngIf="post.status === '00'" [href]="post.posts" target="_blank">{{ post.posts }}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="bottom">
	<button 
		type="button" 
		class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-200 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
		(click)="addProfileLink()"
		>➕ Add Profile Link</button>
</div>
