<div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
     <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">

          <div class="w-full md:w-1/5">
               <form class="flex items-center">
                    <label for="simple-search" class="sr-only">Search</label>
                    <div class="relative w-full">
                         <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                   fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                   <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd" />
                              </svg>
                         </div>
                         <input (keyup)="onSearch($event)"ype="text" id="simple-search" class="border border-gray-300 text-gray-900 text-sm rounded-lg 
            focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-300
            block w-full pl-10 p-2 
            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
            dark:focus:ring-blue-300 dark:focus:border-blue-300" placeholder="Search" required />
                    </div>
               </form>
          </div>

          <div class="flex w-full justify-end items-center">
               <label for="rowsPerPage">Show</label>
               <select (change)="onChangePerPage($event)" id="rowsPerPage"
                    class="ml-2 border border-gray-300 rounded-lg text-gray-900 text-sm p-2 w-[75px]">
                    <option *ngFor="let option of pageSizeOptions" [value]="option.value">{{ option.label }}
                    </option>
               </select>
          </div>
     </div>

     <div class="overflow-x-auto">
          <table class="w-full text-md text-left text-gray-500 dark:text-gray-400">
               <thead class="text-md text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                         <th class="px-2 py-3 text-center">#</th>
                         <th *ngFor="let col of columns" class="px-4 py-3">{{ col.label }}</th>
                         <th class="py-3 w-[100px] text-left">Actions</th>
                    </tr>
               </thead>

               <tbody *ngIf="isLoading">
                    <tr>
                         <td colspan="100%" class="text-center py-4">
                              <app-loading [isLoading]="isLoading"></app-loading>
                         </td>
                    </tr>
               </tbody>

               <tbody *ngIf="!isLoading">
                    <tr *ngFor="let item of data; let i = index" class="border-b dark:border-gray-700 hover:bg-gray-100">
                         <ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: item,index: i }"></ng-container>
                    </tr>
               </tbody>

          </table>
     </div>

     <app-pagination 
          [totalLength]="totalLength" [pageSize]="pageSize"
          (onClickPage)="onPageChanged($event)"></app-pagination>

</div>