// @import "tailwindcss";
.header {
     width: 100%;
     background-color: aqua;
     height: 120px;
}
// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
